<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="axebot">

    <transmission name="wheel1_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="wheel1_motor" role="actuator1"/>
        <joint name="wheel1_joint" role="joint1">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="wheel2_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="wheel2_motor" role="actuator2"/>
        <joint name="wheel2_joint" role="joint2">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="wheel3_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="wheel3_motor" role="actuator3"/>
        <joint name="wheel3_joint" role="joint3">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <gazebo reference="chassis_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel1_link">
        <material>Gazebo/Grey</material>
        <fdir1>0 1 0</fdir1>
        <mu1>1.7</mu1> 
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="wheel2_link">
        <material>Gazebo/Grey</material>
        <fdir1>0 1 0</fdir1>
        <mu1>1.7</mu1> 
        <mu2>0.2</mu2> 
    </gazebo>

    <gazebo reference="wheel3_link">
        <material>Gazebo/Grey</material>
        <fdir1>0 1 0</fdir1>
        <mu1>1.7</mu1> 
        <mu2>0.2</mu2>
    </gazebo>


    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find nebula_controller)/config/nebula_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
